# Ignore node_modules folder
node_modules/

# Ignore build output (Next.js)
.next/

# Ignore environment variables
.env

# Ignore logs
npm-debug.log

# Ignore OS-specific files
.DS_Store

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore coverage (for testing)
coverage/

# Ignore large .pack files (for GitHub's file size limit)
*.pack
